## What is the true normal human body temperature? 

#### Background

The mean normal body temperature was held to be 37$^{\circ}$C or 98.6$^{\circ}$F for more than 120 years since it was first conceptualized and reported by Carl Wunderlich in a famous 1868 book. In 1992, this value was revised to 36.8$^{\circ}$C or 98.2$^{\circ}$F. 

#### Exercise
In this exercise, you will analyze a dataset of human body temperatures and employ the concepts of hypothesis testing, confidence intervals, and statistical significance.

Answer the following questions **in this notebook below and submit to your Github account**. 

1.  Is the distribution of body temperatures normal? 
    - Remember that this is a condition for the CLT, and hence the statistical tests we are using, to apply. 
2.  Is the true population mean really 98.6 degrees F?
    - Bring out the one sample hypothesis test! In this situation, is it approriate to apply a z-test or a t-test? How will the result be different?
3.  At what temperature should we consider someone's temperature to be "abnormal"?
    - Start by computing the margin of error and confidence interval.
4.  Is there a significant difference between males and females in normal temperature?
    - Set up and solve for a two sample hypothesis testing.

You can include written notes in notebook cells using Markdown: 
   - In the control panel at the top, choose Cell > Cell Type > Markdown
   - Markdown syntax: http://nestacms.com/docs/creating-content/markdown-cheat-sheet

#### Resources

+ Information and data sources: http://www.amstat.org/publications/jse/datasets/normtemp.txt, http://www.amstat.org/publications/jse/jse_data_archive.htm
+ Markdown syntax: http://nestacms.com/docs/creating-content/markdown-cheat-sheet

****

In [1]:
import pandas as pd
import numpy as np
from scipy import stats

In [2]:
df = pd.read_csv('data/human_body_temperature.csv')

In [13]:
df.shape

(130, 3)

**1. Distribution will be normal since most normal body temperatures will be expected to 
     be concentrated around 1 value **

In [7]:
m=df.temperature.mean()
m

98.24923076923078

In [8]:
sd=df.temperature.std()

since population sd not known use t test

In [9]:
t=(m-98.6)/(sd/np.sqrt(len(df)))
t

-5.4548232923640789

p(T<=-5.45,df=128)

In [10]:
st=stats.ttest_1samp(df.temperature,98.6)
print "The t-statistic is %.3f and the p-value is %.3f." % st

The t-statistic is -5.455 and the p-value is 0.000.

**2. hence reject null hypothesis that pop mean=98.6**

find ci

In [11]:
cil=m + (t* (sd/np.sqrt(len(df))))
cil

97.898461538461561

In [12]:
cir=m - (t* (sd/np.sqrt(len(df))))
cir

98.599999999999994

   ** 3. Any value less than cil or above cir will be considered abnormal **

two sample t test

In [3]:
dfm=df[df.gender=='M']
dfm

     temperature gender  heart_rate
2           97.8      M          73
5           99.2      M          83
6           98.0      M          71
7           98.8      M          78
12          98.2      M          72
17          98.2      M          64
19          99.4      M          70
21          98.2      M          71
22          98.6      M          70
23          98.4      M          68
24          97.8      M          65
29          98.1      M          67
30          98.3      M          86
32          98.5      M          71
33          98.6      M          82
34          99.3      M          63
35          99.5      M          75
36          99.1      M          71
37          98.3      M          72
41          98.4      M          82
42          96.9      M          74
43          97.2      M          64
46          97.4      M          72
47          97.4      M          68
48          97.9      M          76
49          97.1      M          82
53          98.6      M          78
57          98.2      M          66
59          97.6      M          73
61          98.4      M          84
..           ...    ...         ...
73          98.8      M          81
74          99.0      M          75
75          98.8      M          78
77          98.4      M          70
78          97.4      M          78
79          97.6      M          74
81          98.0      M          67
82          97.5      M          70
85          97.1      M          75
87          98.0      M          78
88          98.7      M          73
89          98.1      M          73
90          97.8      M          74
93          97.1      M          73
94          97.8      M          58
99          98.0      M          74
100         99.0      M          81
101         98.5      M          68
104         97.6      M          69
105         96.7      M          71
106         97.0      M          80
107         98.6      M          66
109         97.3      M          69
114         99.0      M          79
115         98.0      M          64
118         98.7      M          78
124         97.5      M          75
125         96.3      M          70
126         97.7      M          77
128         97.9      M          72

[65 rows x 3 columns]

In [4]:
dff=df[df.gender=='F']

In [5]:
st=stats.ttest_ind(dfm.temperature,dff.temperature)
print "The t-statistic is %.3f and the p-value is %.3f." % st

The t-statistic is -2.285 and the p-value is 0.024.

** 4. Hence reject null hypothesis: meaning there is significant difference in mean temp of males and females**